{{>header}}
<div class="sub-header">Namespace: <a href="bitcoin:{{namespace-address}}" class="namespace-address">{{namespace-address}}</a></div>
<div id="encode-input">
  <form onsubmit="return keyrun.payIt()">
    <input type="text" id="encode-value" placeholder="magnet:?...">
    <input type="submit" value="Run">
  </form>
</div>
<table id="transactions">
  {{#transactions}}
  <tr>
    <!--{{^mined}}<td><span class="tx-unconfirmed">unmined</span></td>{{/mined}}-->
    <!--{{#mined}}<td><a class="tx-hash-link" href="https://blockchain.info/tx/{{tx_hash}}">[blockchain]</a></td>{{/mined}}-->
    <!--<td>{{mined}}</td>-->
    <!--<td>{{tx_hashes}}</td>-->
    <td><a class="tx-value" href="/btih/{{data}}">{{#commas}}{{value}}{{/commas}}シ</a></td>
    <td><a class="tx-magnet-link" href="magnet:?xt=urn:btih:{{data}}">magnet:?xt=urn:btih:{{data}}</td>
  </tr>
  {{/transactions}}
</table>
{{>footer}}
