html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
}

body {
  background-color: #342254;
  padding: 0px;
  margin: 0px;
}

#content {
  background-color: #FFFFFF;
  margin: 0px 5px 0px 5px;
  min-height: 100%;
}

#header {
  text-align: center;
}

.title-header-link {
  display: inline-block;
  font-size: 2em;
  font-weight: 600;
  margin: 15px 0px 15px 0px;
}
.title-header-link:link {
  color: #3D3D3D;
  text-decoration: none;
}
.title-header-link:visited {
  color: #3D3D3D;
  text-decoration: none;
}
.title-header-link:hover {
  color: #ED54FC;
  text-decoration: none;
}
.title-header-link:active {
  color: #E152F0
  text-decoration: none;
}

.help-link {
  display: inline-block;
  font-size: 10px;
  text-decoration: none;
  margin-left: 5px;
}

.help-link:link {
  color: #8C8C8C;
}
.help-link:visited {
  color: #8C8C8C;
}
.help-link:hover {
  color: #ED54FC;
}
.help-link:active {
  color: #E152F0
}

a:link {
  color: #3D3D3D;
}
a:visited {
  color: #8C8C8C;
}
a:hover {
  color: #ED54FC;
}
a:active {
  color: #E152F0
}

#header h1 {
  display: inline-block;
}

.sub-header {
  font-size: 16px;
  font-weight: 600;
  margin: 0px 0px 15px 0px;
}

.sub-header a {
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
}

.tx-hash-link {
  font-size: 14px;
  margin-right: 5px;
}

.tx-unconfirmed {
  font-size: 14px;
  margin-right: 5px;
  color: #3D3D3D;
}

.tx-value {
  font-size: 14px;
  color: #3D3D3D;
}

.tx-value:link {
  color: #3D3D3D;
  text-decoration: none;
}
.tx-value:visited {
  color: #3D3D3D;
  text-decoration: none;
}
.tx-value:hover {
  color: #ED54FC;
  text-decoration: none;
}
.tx-value:active {
  color: #E152F0
  text-decoration: none;
}

.tx-magnet-link {
  font-size: 12px;
}

#encode-input {
}

#encode-value {
  width: 425px;
}

#transactions {
  display: inline-block;
}
#transactions td {
  padding: 3px;
}
